{{#header}}Faction Actions{{/header}}

{{#if scum.show}}
<ul>
{{#each scum.actions}}
<li>{{#bold}}Scum{{/bold}}: Target {{target.username}}</li>
{{/each}}
</ul>
{{/if}}

{{#if scum2.show}}
<li>
{{#each scum2.actions}}
<li>{{#bold}}Scum 2{{/bold}}: Target {{target.username}}</li>
{{/each}}
</ul>
{{/if}}

{{#subheader}}Other Actions{{/subheader}}
{{#if other.show}}
<ul>
{{#each other.actions}}
<li>{{#bold}}{{actor.username}}{{/bold}}: Target {{target.username}}</li>
{{/each}}
</ul>
{{/if}}
